<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false"> 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    <encoder> 
      <pattern>%-4relative %-5level %logger{36} - %msg%n</pattern> 
    </encoder> 
  </appender>  
  
  <logger name="de.hunsicker.jalopy" level="WARN"/>
  <logger name="org.hybridlabs.source.beautifier" level="INFO"/>
  <root level="INFO"> 
    <appender-ref ref="STDOUT"/> 
  </root> 
  
</configuration>
