# Binary files
*.class
*.jar
*.war
*.ear

# Generated source directories
src-gen/
xtend-gen/

# Generated source files
plugin.xml_gen

# Maven build directories
target/

# Generated eclipse project settings
.settings/
