<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sculptor.org/sculptor/gui/dsl/sculptorguidsl" 
       class = "org.sculptor.gui.dsl.sculptorguidsl.SculptorguidslPackage"
       genModel = "org/sculptor/gui/dsl/Sculptorguidsl.genmodel" /> 
  </extension>
</plugin>
